*{
    box-sizing: border-box;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

/* Navbar set-up*/
.title{
    display: flex;
    font-size: 5rem;
    justify-content: center;    
    align-items: center;
    padding: .5rem;
    gap: .5rem;    
}

.title img{
    width: 10rem;
    object-fit: cover;
    border-radius: 50%;    
  }

.navbar{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.903);
    color: white;        
    font-size: 1.5rem;
    padding: 0.5rem 0;
}

.navbarOptions{
    max-width: 90%;    
    display: flex;
    gap: 10rem;
    padding-left: 2rem;    
    text-align: center;
}

.navbarOptions div{
    background-color: grey;
    padding: 0.2rem 2rem; 
    border-radius: 5px;
    cursor: pointer;
}

.animals-button{
    position: relative;
}

.animals-dropdown{
    position: absolute;
    top: 3rem;
    right: 0rem;
    left: 0rem;    
}

.animals-dropdown div{
    padding: .5rem 0;
    border-bottom: 1px solid rgba(221, 221, 221, 0.3);
}

.animals-dropdown div:hover{
    background-color: rgb(101, 100, 100);
}

/* Edits for the Main page - animal layout etc */
.animal-format{
    display: grid;        
    gap: 3.5rem;
    grid-template-columns: repeat(4, 1fr);
    font-size: 1rem;
    margin: 0 10px;
    background-color: rgba(0, 0, 0, 0);
    padding-top: 1rem;
}

.animal-model{
    border: 1px solid grey;
    text-align: center;
    border-radius: 15px;
    padding: 3rem 0;
}

.animal-image{
    width: 90%;
    height: 300px;
    border-radius: 50px;
    border: 1px solid #ddd;    
    padding: 5px;  
    object-fit: cover;
}

.animal-model span{
    color: hsl(240, 100%, 70%);
    text-align: left;
}

.healthScore{
    padding-bottom: 1rem;
}

.price{
    font-size: 2rem;
    font-weight: bold;
    padding-top: 1rem;
    border-top: 1px solid hsl(0, 0%, 90%);
}

.animal-format button{
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    border-radius: 5px;
    color: white;
    background-color: rgb(151, 150, 150);
    cursor: pointer;
    font-size: 1rem;
}

.animal-format button:active{
    background-color: hsl(0, 0%, 39%);
}

.more-info{
    margin-right: 0.5rem;
}

.more-info.selected{
    background-color: orange;
}

/* Clicking more information */
.animal-format.opacity{
    background-color: rgba(140, 135, 135, 0.7);    
    pointer-events: none;
}

.info-box{
    position: fixed;
    top: 50%;
    left: 25%;
    right: 25%;
    opacity: 1;
    min-width: 50%;
    background-color: white;
    font-size: 1.5rem;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);    
    display: fixed;
    pointer-events: auto;
}

.info-content{
    position: relative;
}

.info-content p{
    padding-top: 0.5rem;
}

.close-window{
    position: absolute;
    top: -25px;
    right: 10px;
    font-size: 1.5rem;       
    padding: 0.5rem 1rem;    
    border-radius: 5px;    
    cursor: pointer;
    

}



