*{
    box-sizing: border-box;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

/* Navbar set-up*/
.title{
    display: flex;
    font-size: 5rem;
    justify-content: center;    
    align-items: center;
    padding: .5rem;
    gap: .5rem;    
}

.title img{
    width: 10rem;
    object-fit: cover;
    border-radius: 50%;    
  }

.navbar{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.903);
    color: white;        
    font-size: 1.5rem;
    padding: 0.5rem 0;
}

.navbarOptions{
    width: 90%;    
    display: flex;
    gap: 10rem;
    padding-left: 2rem;    
    text-align: center;
    justify-content: center;
}

.navbarOptions div{
    background-color: grey;
    padding: 0.2rem 2rem; 
    border-radius: 5px;
    cursor: pointer;
}

.navbarOptions .mainBtn:hover, .animals-button:hover{
    background-color: hsl(0, 0%, 30%);
}

.animals-button{
    position: relative;
}

.animals-dropdown{
    position: absolute;
    top: 3rem;
    right: 0rem;
    left: 0rem;    
}

.animals-dropdown div{
    padding: .5rem 0;
    border-bottom: 1px solid rgba(221, 221, 221, 0.3);
}

.animals-dropdown div:hover{
    background-color: rgb(101, 100, 100);
}

/* Edits for the Main page - animal layout etc */
.pageLayout{
    display: flex;
    flex-direction: row;
    padding: 2rem 0;
    text-align: center;
}

.totalPrice{
    padding: 0 0.1rem; 
}

.totalPrice h3{
    padding: 0 0 0.5rem 0;
    border-bottom: 1px solid #ddd;
}

.totalPrice p{
    padding: 0.5rem 0 0.5rem 0;
    color: red;
    font-size: 1.2rem;
}

.totalPrice button{
    font-size: 1rem;
    border-radius: 5px;
    color: white;
    background-color: rgb(78, 153, 233);
    padding: 0.3rem 1rem;
    cursor: pointer;
}

.animal-format{
    display: grid;        
    gap: 3.5rem;
    grid-template-columns: repeat(4, 1fr);
    font-size: 1rem;
    margin: 0 10px;
    background-color: rgba(0, 0, 0, 0);
    padding-top: 1rem;
    width: 100%;
}

.animal-model{
    border: 1px solid grey;
    text-align: center;
    border-radius: 15px;
    padding: 3rem 0;
}

.animal-image{
    width: 90%;
    height: 300px;
    border-radius: 50px;
    border: 1px solid #ddd;    
    padding: 5px;  
    object-fit: cover;
}

.animal-model span{
    color: hsl(240, 100%, 70%);
    text-align: left;
}

.healthScore{
    padding-bottom: 1rem;
}

.price{
    font-size: 2rem;
    font-weight: bold;
    padding-top: 1rem;
    border-top: 1px solid hsl(0, 0%, 90%);
}

.animal-format button{
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    border-radius: 5px;
    color: white;
    background-color: rgb(151, 150, 150);
    cursor: pointer;
    font-size: 1rem;
}

.animal-format button:active{
    background-color: hsl(0, 0%, 39%);
}

.more-info{
    margin-right: 0.5rem;
}

.more-info.selected{
    background-color: orange;
}

.qty{
    padding-top: 1rem;
}

/* Clicking more information */
.animal-format.opacity{
    background-color: rgba(140, 135, 135, 0.7);    
    pointer-events: none;
}

.info-box{
    position: fixed;
    top: 50%;
    left: 25%;
    right: 25%;
    opacity: 1;
    min-width: 50%;
    background-color: white;
    font-size: 1.5rem;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);    
    display: fixed;
    pointer-events: auto;
}

.info-content{
    position: relative;
}

.info-content p{
    padding-top: 0.5rem;
}

.close-window{
    position: absolute;
    top: -25px;
    right: 10px;
    font-size: 1.5rem;       
    padding: 0.5rem 1rem;    
    border-radius: 5px;    
    cursor: pointer;   
}
/* About us & Contact us page */
.section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
    background: linear-gradient(to bottom right, green, grey);
    gap: 2rem;
    font-size: 6rem;
    font-weight: bold;
}
.section img{
    width: 20%; 
}

.about-text{
    width: 100%;
    padding: 2rem 5rem 5rem 5rem;
    text-align: center;
    font-size: 1rem;
}

.about-text p{
    padding-top: 1.5rem;
}

.contact-text{
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    padding: 3rem 0 10rem 0;
    width: 70%;
    margin: auto;
}

.details{
    display: flex;
    gap: 1rem;
    padding-top: 1.5rem;
}

.details img{
    width: 5%;
}

.letter{
    height: 2%;
    padding-top: .5rem;
}

.opening-hours{
    background-color: rgb(223, 70, 15);
    color: white;
    padding: 2rem;
    border-radius: 10px;
}
.location{
    display: flex;
    padding-top: 2rem;
    gap: 1rem;
}

.location-img{
    width: 8%;
}

@media (max-width: 576px) {     
    /* Navbar set-up*/
    .title{     
        font-size: 4rem;
    }  

    .navbar{             
        font-size: 1rem;        
    }
    
    .navbarOptions{
        gap: 0.5rem;       
        margin-left: -1.7rem;
    }
    
    .navbarOptions div{      
        padding: 0.2rem 1rem; 
    }
    
    /* Edits for the Main page - animal layout etc */
    .animal-format{
       grid-template-columns: repeat(1, 1fr);
    }
    
    /* Clicking more information */ 
    .info-box{        
        left: 15%;
        width: 50%;
        font-size: 1.1rem;        
    }   
    
    .close-window{
        right: -10px;
        font-size: 1rem;               
    }

    /* About us & Contact us page */
    .section{
        padding: 1rem 0;        
        font-size: 3rem;
    }
    
    .contact-text{        
        flex-direction: column;        
    }   
     
    .details img{
        width: 6%;
        height: 0%;
        padding-top: 0.5rem;
    }

    .letter{
        height: 2%;
        padding-top: .5rem;
    }
    
    .opening-hours{
        margin-top: 2rem;
    }
    
    .opening-hours p{
       font-size: 1.1rem;
    }   
    
    .location-img{
        height: 2%;        
    }
}

@media (min-width: 577px) and (max-width: 991px) {
    /* Navbar set-up*/
.navbarOptions{    
    gap: 1rem;
    padding-left: 1rem;        
}

.navbarOptions div{
    padding: 0.2rem 0.5rem;     
}

/* Edits for the Main page - animal layout etc */
.animal-format{
    grid-template-columns: repeat(1, 1fr);    
}

/* Clicking more information */
.info-box{        
    left: 9%;
    width: 65%;
    font-size: 1.1rem;        
}   

.close-window{
    right: -10px;
    font-size: 1rem;               
}

/* About us & Contact us page */
.section{
    font-size: 5rem;
}

.contact-text{
    flex-direction: column;
}

.opening-hours{
    margin-top: 2rem;
}

.location-img{
    height: 2%;
}
}

@media (min-width: 992px) and (max-width: 1199px) {
/* Navbar set-up*/    
.navbarOptions{
    gap: 2rem;
}

/* Edits for the Main page - animal layout etc */
.animal-format{
    grid-template-columns: repeat(2, 1fr);
}

/* Clicking more information */
.info-box{
    left: 7%;
}

/* About us & Contact us page */
.contact-text{
    flex-direction: column;
}

.opening-hours{
    margin-top: 2rem;
}

.location-img{
    width: 5%;    
}
}
